*.Rproj.user
*.Rhistory
*.RData
*.Ruserdata
*.csv
*.pdf
*.png
*.ai
*.html
*.tif
.DS_store
/in_progress
/deprecated

# Logs / temporary files / files
*.log
*.swp
*.bak
*.tmp
*.dat
*.ai
*.png
*.txt
*.csv
*.pdf
*.cpp
*.nrn
*_inc
*.dylib

#Exceptions
# Exceptions (track specific CSVs)
!CSV_files/TeNT_Ephys_latency.csv
!CSV_files/PCA_Scores_Clusters.csv
!CSV_files/P4_P6_project_P9.csv
!CSV_files/Combined_projection_all_v2.csv
!CSV_files/data_contra_vp.csv
