*.Rproj.user
*.Rhistory
*.RData
*.Ruserdata
*.csv
*.pdf
*.png
*.ai
*.html
*.tif
*.DS_store
/in_progress

# Logs / temporary files / files
*.log
*.swp
*.bak
*.tmp
*.dat
*.ai
*.png
*.txt
*.csv
*.pdf
*.cpp
*.nrn
*_inc
*.dylib